body{
    background-color: #ececec;
    font-family: 'Poppins', sans-serif;

}
.box-area{
    width: 930px;
}

@media only screen and (max-width:768) {
    .box-area{
        margin: 0 10px;

    }
    .left-box{
        height: 100px;
        overflow: hidden;
    }
    .right-box{
        padding: 20px;
    }
    
}